body
ul
li
    padding 0
    margin 0

ul
    list-style-type none
    margin-left 30px
    li
        display inline-block
    img:first-child
        width 180px
    img:first-child:hover + img
        display block
        
    img:last-child
        position absolute
        left 30px
        display none
    
        